In [1]:
letters = ['a','b','c','d','e','f','g','h','i','j']

In [2]:
letters[::2]

['a', 'c', 'e', 'g', 'i']

# Create a script that generates a list of numbers from 1 to 20 Do not create a list manually

In [3]:
a = range(1,21)

In [4]:
list(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

# Create a script that generates a list whose items are products of the original list items multiplied by 10

In [5]:
a = range(1,21)
print([10 * x for x in a])

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

# Create a script that converts all items of the range to strings

In [7]:
my_range = range(1,21)
str_range = map(str,my_range)

In [8]:
for i in str_range:
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# Write a script that removes duplicates from a list

In [9]:
a = ["1",1,"1",2]

In [10]:
a = list(set(a))

TypeError: 'range' object is not callable

In [ ]:
pri

# Create a dictionary of 2 keys a and b two values 1 and 2 for keys a and b respectively

In [11]:
d = {"a":1,"b":2}

# Print out the value of key b

In [14]:
print(d["b"])

2

# Calculate the sum of value of key a and value of key b and print it out

In [16]:
print(d["a"]+d["b"])

3

# Add a "c" key with a value of 3 to the dictionary and print out the updated dictionary

In [18]:
d.update({"c":3})

In [19]:
d['c']

3

# Find the sum of all values

In [5]:
d = c["a"]+c["b"]+c["c"]

NameError: name 'd' is not defined

In [21]:
sum

6

# Filter out values of equal or greater than 2

In [31]:
sum

6

In [32]:
sum = dict((key,value) for key,value in sum.items() if value <= 1)

AttributeError: 'int' object has no attribute 'items'

# Create a dictionary of keys a,b and c where each key has as value a list from 1 to 10,11 to 20 and 21 to 30 respectively and print out

In [2]:
sum = dict(a=list(range(1,11)),b=list(range(11,21)),c=list(range(21,31)))

In [3]:
print(sum)

{'a': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 'b': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'c': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]}

In [4]:
print(sum['b'])

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [6]:
import string

for x in string.ascii_lowercase:
    print(x)

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [8]:
import re

for x in range(1,21):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

# write a function that contains acceleration given the formula a=v2-v1/t2-t1

In [10]:
def total_acceleration(v2,v1,t2,t1):
    acceleration = v2-v1/t2-t1
    return total_acceleration
v2 = 50 #Final acceleration
v1 = 30 #initial acceleration
t2 = 5  #final time
t1 = 5  #initial time
acceleration = total_acceleration(v2,v1,t2,t1)
print(f"The acceleration is :{total_acceleration}m/s^2")

The acceleration is :<function total_acceleration at 0x000001BC84D6BDC0>m/s^2

# the script is supposed to print cos 90

In [15]:
import math 
    
a = math.pi / 6
     

print (f"The value of cos pi / 6 is : ") 
print (math.cos(a))

The value of cos pi / 6 is :
0.8660254037844387

# Create a script that generates 26 text files, each containing one letter of English alphabet as a name and as text inside.

In [16]:
import string
alphabet= string.ascii_lowercase
for letter in alphabet:
    with open(letter,'w') as file:
        file.write(letter)