In [1]:
import numpy as np #Importing numpy module
import pandas as pd #Importing pandas module
import matplotlib.pyplot as plt #Importing matplotlib module

In [3]:
data=pd.read_csv("data.csv") #Importing the data values

In [4]:
data.head(3) #Printing the 1-3 Values

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No

In [18]:
X=data.iloc[:-1].values #Print the location values

In [19]:
print(X) #Printing the values

[['France' 44.0 72000.0 'No']
 ['Spain' 27.0 48000.0 'Yes']
 ['Germany' 30.0 54000.0 'No']
 ['Spain' 38.0 61000.0 'No']
 ['Germany' 40.0 nan 'Yes']
 ['France' 35.0 58000.0 'Yes']
 ['Spain' nan 52000.0 'No']
 ['France' 48.0 79000.0 'Yes']
 ['Germany' 50.0 83000.0 'No']]

In [22]:
y = data.iloc[:,-1].values #Printing the location value

In [32]:
y #Print the y value

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [25]:
from sklearn.impute import SimpleImputer #To find the missing values

In [26]:
imputer = SimpleImputer(missing_values=np.nan,strategy='mean') #data type will be set as nan replace the mean in missing values

In [28]:
imputer.fit(X[:,1:3]) #-----> All rows & Choose 1 and 2 column

SimpleImputer()

In [29]:
X[:, 1:3] = imputer.transform(X[:,1:3]) #It will take the range from 0-3

In [31]:
X

array([['France', 44.0, 72000.0, 'No'],
       ['Spain', 27.0, 48000.0, 'Yes'],
       ['Germany', 30.0, 54000.0, 'No'],
       ['Spain', 38.0, 61000.0, 'No'],
       ['Germany', 40.0, 63375.0, 'Yes'],
       ['France', 35.0, 58000.0, 'Yes'],
       ['Spain', 39.0, 52000.0, 'No'],
       ['France', 48.0, 79000.0, 'Yes'],
       ['Germany', 50.0, 83000.0, 'No']], dtype=object)

In [33]:
from sklearn.compose import ColumnTransformer #Import the transformer column values
from sklearn.preprocessing import OneHotEncoder #converted into numerical features of a dataset

In [34]:
ct = ColumnTransformer(transformers=[('encoder',OneHotEncoder(),[1])],remainder='passthrough')

In [35]:
X = np.array(ct.fit_transform(X))

In [36]:
X

array([[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 'France', 72000.0,
        'No'],
       [1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'Spain', 48000.0,
        'Yes'],
       [0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'Germany', 54000.0,
        'No'],
       [0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'Spain', 61000.0,
        'No'],
       [0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 'Germany', 63375.0,
        'Yes'],
       [0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 'France', 58000.0,
        'Yes'],
       [0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 'Spain', 52000.0,
        'No'],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 'France', 79000.0,
        'Yes'],
       [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 'Germany', 83000.0,
        'No']], dtype=object)

In [37]:
from sklearn.preprocessing import LabelEncoder

In [38]:
le = LabelEncoder()

In [39]:
y = le.fit_transform(y)

In [48]:
y

array([0, 1, 0, 0, 1, 1, 0, 1, 0, 1])

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=1)

ValueError: Found input variables with inconsistent numbers of samples: [9, 10]

In [45]:
print(X_train)

NameError: name 'X_train' is not defined

In [51]:
print(X_test)

NameError: name 'X_test' is not defined

In [ ]:
print(y_train)

In [ ]:
print(y_test)